language: python
python:
  - "3.4"
  - "3.5"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
# command to install dependencies
services:
  - "mongodb"

install: "pip install -r requirements.txt"
# command to run tests
script: nosetests tests
